# Application
NODE_ENV=development
PORT=3000

# API Configuration
API_URL=http://localhost:3000

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRATION=24h

# Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=""
DATABASE_NAME=cv_generator


DATABASE_URL="postgresql://{DATABASE_USER}:{DATABASE_PASSWORD}@{DATABASE_HOST}:{DATABASE_PORT}/{DATABASE_NAME}?schema=public"